@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    height: 100vh;
    background: url(https://www.worqambatour.com/img/carousel/68985649_147505649784890_8216401798013706936_n_1000x667.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    position: relative;
}

/* mobie header */

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
    font-family: 'Water Brush', cursive;
    font-weight: 900;
    font-size: 3.5rem;
    padding: 20px 0;
}

#open {
    font-size: 36px;
    font-weight: 700;
}

.sidebar-menu {
    margin: 0 0 auto auto;
    height: 400px;
    width: 50vw;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding-top: 20px;
    padding-left: 20px;
    display: none; 
}

.fa-circle-xmark {
    float: right;
    margin-right: 10%;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.sidebar-menu li {
    margin-top:  50px;
}

.sidebar-menu a {
    color: white
}


li {
    list-style: none;
}

ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

nav {
    display: none;
}


/* Home section content */

 .about-lucy {
   width: 80%;
   margin: 20px auto;
 }

.about-lucy p {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 300;
}

.read-more-btn {
    font-size: 16px;
    font-weight: 900;
    margin: 0 auto;
    padding: 10px 0;
    width: 100px;
    height: 40px;
    border: solid 1px transparent;
    border-radius: 10px;
    background-color: rgb(243, 241, 231);
    color: rgb(10, 10, 59);
    text-align: center;
}

.lucy-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lucy-image img {
    height: 200px;
    width: 60%;
    z-index: 2;
}

/* footer */

footer {
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
}

footer .logo {
    font-size: 20px;
    font-weight: 500;
}