@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    min-height: 100vw;
    position: relative;
}


#index {
    background: url(https://www.worqambatour.com/img/carousel/68985649_147505649784890_8216401798013706936_n_1000x667.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
}

#about, #event, #contact {
    background: url(../images/background-image.jpg) no-repeat center center;
    background-size: cover;
    font-family: 'Ubuntu',
    sans-serif
    }


header {
    width: 100%;
    height: 50vh;  
}

.navbar-brand  {
    font-family: 'Water Brush', cursive;
    font-size: 70px;
    font-weight: 700;
}

.navbar-brand a {
    text-decoration: none;
     margin-left: 30px;
}

.navbar-toggler {
    display: none;
}

.nav-list {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    top: 10px;
}

.nav-list a {
    font-family: 'Indie Flower',
    cursive;
    font-size: 26px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    height: 70%;
    padding-top: 30px;
}

.nav-list a:nth-child(1n+1):hover, .active {
    border-bottom: 5px solid white;
    color: orange;
}

.nav-side-menu {
    display: none;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.9);
    
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.fa-circle-xmark {
    font-size: 26px;
    font-weight: 900;
    margin: 20px auto auto 20px;
    color: white;
}

.nav-side-menu a {
    font-weight: 900;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-side-menu ul {
    margin-left: 20px;
    margin-top: 40px;
}

.nav-side-menu li {
    margin-bottom: 20px;
    list-style: none;
}

.nav-side-menu i {
    margin-right: 10px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.lucy-image img {
    width: 300px;
    height: 300px;
}

.lucy-title p {
    font-family: cursive;
    text-transform: uppercase;   
    text-align: center;
    font-size: 26px;
}



.container {
    display: flex;
    align-items: center;
    padding: 5% 5% 160px 5%;
}



.container-image {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}

.image-border {
    width: 400px;
    height: 450px;
    border: 1px solid black;
    padding: 5px;
}

.image-border img {
    width: 100%;
    height: 100%;
}

.container-body {
    flex: 1;
    padding: 20px 60px;
    font-family: 'Saira Condensed', sans-serif;
}

.container-body h4 {
    font-size: 30px;
    font-weight: 100;
    color: orange;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.bold-text {
    font-size: 30px;
    font-weight: 900;
    color: rgb(235, 14, 84);
    margin-bottom: 10px;
}

.container-body p {
    text-align: justify;
    font-size: 20px;
}

.container-body div {
    width: 100%;
}

.explore {
    text-decoration: none;
    width: 100px;
    height: 50px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 25px;
} 

footer {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .navbar-brand a {
   font-size: 30px;

}

footer i {
    font-size: 30px;
    font-weight: 700;
    margin-left: 100px;
}

footer i:hover {
    color: rgb(255, 0, 208);
}



/* About Page */
.about-container {
    padding: 5% 5% 160px 5%;
}
.white-text {
    color: white;
}

.black-text {
    color: black;
}

.main-about, .main-contact, .main-event {
    font-size: 40px;
    width: 100%;
    height: 150px;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.about-container {
    padding: 5% 5% 160px 5%;
    clear: both;
    height: 100%;
}

.about-container h2 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    text-align: justify;
}

#lucy-skeleton {
    width: 350px;
    height: 350px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

#lucy-skeleton img {
    width: 100%;
    height: 100%;
}


/* event */

.event-container {
    padding: 5% 5% 160px 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    width: 400px;
    height: 450px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.card img {
    height: 60%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-body {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.card a {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: orange;
    color: white;
    text-decoration: none;
}

.btn {
    text-align: center;
}

/*contact*/

.visit-container {
    padding: 5% 5% 160px 5%;
}

.museum-img img{
    width: 300px;
    margin-right: 20px;

}


.address-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.address p {
    margin-bottom: 20px;
}

.address i {
    font-size: 18px;
    font-weight: 700;
    color: orange;
    margin-right: 10px;
}

form {
    text-align: center;
    margin-top: 50px;
}


form h3 {
    font-family: 'Indie Flower',
    cursive;
    font-weight: 900;
    font-size: 26px;
}

fieldset {
    border: none;
    margin: auto;
    width: 60%;
}

.name, .email-address {
    display: flex;
    width: 100%;
    margin: auto;
}

.name > div, .email-address > div {
  width: 50%;
  margin: auto;
}

.input-field {
    width: 95%;
    height: 40px;
    margin: 10px auto;
}

textarea {
    width: 98%;
}

input[type="text"], input[type="number"], input[type="email"], textarea {
    background-color: rgb(244, 242, 242);
    color: black;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
}
 
input[type="submit"]  {
    font-size: 18px;
    font-weight: 700;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: orange;
}

.submit-btn {
    margin: 20px auto
}

@media only screen and (max-width: 320px) {

   .navbar {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding-right: 10%;
    }

    .navbar-brand a {
        font-size: 30px;
        padding-left: 10%;

    }

   .navbar-toggler {
       display: block;
       font-size: 24px;
   }

   .nav-list {
       display: none;
   }


   .main-container {
       display: block;
   }

   .lucy-image {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .lucy-image img {
       width:100px;
       height: 100px;
   }

   .lucy-title p {
       font-size: 16px;
       padding-left: 5%;
       padding-right: 5%;
   }

   .container {
       display: block;
       padding-top: 20px;
   }


   .image-border {
       width: 250px;
       height: 300px;
   }

   .container-body h4 {
        font-size: 24px;
        text-align: center;
   } 

   .container-body p {
       font-size: 16px;
   }

   .bold-text {
       font-weight: 500;
   }

   .explore {
       font-size: 18px;
       width: 60px;
       height: 35px;
   }

   footer i {
       font-size: 18px;
       font-weight: 300;
       margin-left: 10px;
   }


   /* about */
   .main-about, .main-event, .main-contact {
       font-size: 20px;
       height: 70px;
       text-align: center;
   }

    #lucy-skeleton  {
        width: 250px;
        height: 300px;
        float: left;
        margin-bottom: 20px;
    }

    #lucy-skeleton img {
        width: 100%;
        height: 100%;
    }


    /*event*/

     .event-container {
         display: block;
     }

     .card {
         width: 100%;
         margin-bottom: 10px;
     }

   /*contact */
   .address-container {
       display: block;
   }

    .museum-img img {
        width: 100%;
        margin-bottom: 20px;
    }

    fieldset {
        width: 90%;
    }


    .name, .email-address {
        display: block;
        margin: auto;
    }
    
    .name > div, .email-address > div {
       width: 100%;
    }


}

@media screen and (min-width: 321px) and (max-width: 480px){

    #event, #about, #contact {
        height: 32vh;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10%;
    }
    
    .navbar-brand a {
        font-size: 34px;
        padding-left: 10%;
    
    }
    
    .navbar-toggler {
        display: block;
        font-size: 34px;
    }
    
    .nav-list {
        display: none;
    }
    
    .main-container {
        display: block;
    }
    
    .lucy-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10PX;
    }
    
    .lucy-image img {
        width: 150px;
        height: 150px;
    }
    
    .lucy-title p {
        font-size: 18px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .container {
        display: block;
        padding-top: 30px;
    }

    
    .image-border {
        width: 300px;
        height: 350px;
    }
    
    .container-body h4 {
        font-size: 24px;
        text-align: center;
    }
    
    .container-body p {
        font-size: 18px;
    }
    
    .bold-text {
        font-weight: 500;
    }
    
    .explore {
        font-size: 20px;
        width: 80px;
        height: 40px;
    }
    

    footer i {
        font-size: 20px;
        font-weight: 300;
        margin-left: 10px;
    }


    /* about */
    .main-about, .main-event, .main-contact {
        font-size: 20px;
        height: 70px;
        margin-top: 3%;
        text-align: center;
    }

    #lucy-skeleton {
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
    }


    /*event*/
    .event-container {
        display: block;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }


    /*contact */

    .museum-img img {
        width: 100%;
    }

    .address-container {
        display: block;
    }

    .address {
        margin-top: 20px;
    }

    .address p {
        margin-top: 20px;
        font-size: 18px;
    }

    fieldset {
        width: 90%;
    }

    form h3 {
        font-size: 20px;
    }

    .name, .email-address {
        display: block;
        margin: auto;
    }
    
    .name > div, .email-address > div {
       width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10%;
    }

    .navbar-brand a {
        font-size: 34px;
        padding-left: 10%;

    }

    .navbar-toggler {
        display: block;
        font-size: 34px;
    }

    .nav-list {
        display: none;
    }

    .nav-side-menu {
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.5);

        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    .main-container  {
        display: block;
    }

    .lucy-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10PX;
    }

    .lucy-image img {
        width: 180px;
        height: 180px;
    }

    .lucy-title p {
        font-size: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .image-border {
        width: 400px;
        height: 450px;
    }

    .container {
        display: block;
    }

    .container-body h4 {
        font-size: 32px;
        text-align: center;
    }

    .container-body p {
        font-size: 22px;
    }

    .bold-text {
        font-weight: 700;
    }

    .explore {
        font-size: 20px;
        width: 80px;
        height: 40px;
        margin: auto;
    }


    footer i {
        font-size: 30px;
        font-weight: 300;
        margin-left: 20px;
    }


    /*contact*/

    fieldset {
        width: 90%;
    }

    .name, .email-address {
        display: block;
        margin: auto;
    }
    
    .name > div, .email-address > div {
       width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {

    header {
        height: 36vh;
    }
   
    .navbar-brand a {
        font-size: 38px;
        padding-left: 10%;
    }


    .nav-side-menu {
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.5);

        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    .main-container {
        display: block;
    }

    .lucy-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10PX;
    }

    .lucy-image img {
        width: 200px;
        height: 200px;
    }

    .lucy-title p {
        font-size: 26px;
    }

   

    .image-border {
        width: 450px;
        height: 500px;
    }

    .container {
        display: block;
    }

    .container-body h4 {
        font-size: 40px;
        text-align: center;
    }

    .bold-text {
        font-weight: 900;
    }

    .container-body p {
        font-size: 26px;
    }

    .explore {
        font-size: 24px;
        width: 100px;
        height: 50px;
        margin: auto;
    }

    footer i {
        font-size: 30px;
        font-weight: 300;
        margin-left: 20px;
    }

    /* about */
    .main-about, .main-event, .main-contact {
        font-size: 28px;
        height: 100px;
        margin-top: 5%;
        text-align: center;
    }
    

    .about-container p {
        margin-bottom: 10px;
    }

    /*event*/

    .event-container {
        display: block;
    }

    .card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    /*contact*/

    fieldset {
        width: 70%;
    }
}

    @media screen and (min-width: 801px) and (max-width: 1025px) {

        header {
            height: 34vh;
        }
    
        .navbar-brand a {
            font-size: 48px;
            padding-left: 5%;
        }
    
    
      .main-container {
            display: block;
        }
    
        .lucy-image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10PX;
        }
    
        .lucy-image img {
            width: 200px;
            height: 200px;
        }
    
        .lucy-title p {
            font-size: 26px;
        }
    
    
        .image-border {
            width: 450px;
            height: 500px;
        }
    
        .container-body h4 {
            font-size: 40px;
            text-align: center;
        }
    
        .bold-text {
            font-weight: 900;
        }
    
         .container {
             display: block;
         }

        .container-body p {
            font-size: 30px;
        }


        /* about */
        .main-about, .main-event, .main-contact {
            font-size: 20px;
            height: 100px;
            margin-top: 10%;
            text-align: center;
        }
        
        #lucy-skeleton img {
            width: 100%;
            height: 350px;
        }

        /*events*/

        .event-container {
            display: block;
        }

        .card {
            width: 70%;
            margin: 20px auto;
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 22px;
            margin-bottom: 10px;
        }
    
    }